#__next {
  padding: 1rem;
}
.image-item {
  padding: 1rem 0 1rem 1rem;
}

section {
  margin: 0 !important;
  padding: 0 !important;
}

.react-multiple-carousel__arrow {
  position: absolute;
  outline: 0;
  transition: all 0.5s;
  border-radius: 35px;
  z-index: 1000;
  border: 0;
  background: rgba(0, 0, 0, 0.5);
  min-width: 43px;
  min-height: 43px;
  opacity: 1;
  cursor: pointer;
}

.react-multi-carousel-list {
  height: 100%;
  display: flex !important;
  align-items: center !important;
  margin: 0 !important;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 20px;
}
ul li {
  width: 50px !important;
  height: 64px !important;
  padding: 0.2rem !important;
}

ul li h6 {
  margin: 0 !important;
}
